<form [formGroup]= "contactForm" (ngSubmit)="submitContactForm()">
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name">
    <div *ngIf="submitted && !contactForm.get('name').valid">
      Name is required and need to have min 3 letters
    </div>
    <label for="email">Email</label>
    <input type="text" id="email" formControlName="email">
    <div *ngIf="submitted && !contactForm.get('email').valid">
        email is required and need a mail
    </div>
    <label for="phone">Phone</label>
    <input type="text" id="phone" formControlName='phone'>
    <div *ngIf="submitted && !contactForm.get('phone').valid">
        Phone is required and need to have min 9 numbers
    </div>
    <label for="description">Description</label>
    <textarea formControlName="description" id="description" cols="30" rows="10"></textarea>
    <div *ngIf="submitted && !contactForm.get('description').valid">
        Description is required and need to have min 5 letters and max 255 letters
      </div>
    <br>
    <button>Enviar</button>

</form>
